## 제주 공공와이파이 데이터 분석을 통한 2022 관광 유형 예측

1. 라이브러리
>
2. 데이터 불러오기 
    - 2.1. 2020년 와이파이 접속 데이터
    - 2.2. 2021년 와이파이 접속 데이터 
    - 2.3. 고정형 AP 18,19,20년 데이터 
>
3. 동일 mac_address로부터 2020년 데이터에 주소지 정보 매핑
>
4. 지역별(동부 + 서귀포 성산읍) 데이터프레임화

### 1. 라이브러리

In [1]:
import numpy as np 
import pandas as pd

### 2. 데이터 불러오기

#### 2.1. 2020년 와이파이 접속 데이터

In [2]:
ap20 = pd.read_csv('2020.csv')
ap20 = ap20[ap20['ap_type']!='이동형']
ap20.head(3)

,base_date,user_id,mac_address,upload,download,session_time,nationality,province,gender,age,visit_type,ap_type,pt_year,pt_month
0,20200401,10f31cf6d443c671e2573658c0dcad9a953c3e75c2b201...,1243f1ed4024796f9567e4428d6e45e7014f8848826cd9...,0,0,14,대한민국,제주특별자치도,남성,10,거주,고정형,2020,4
1,20200401,42e2aa72849d0995eb736f2b2c7110d5893b6c243e2c44...,73dc8b6d8b306ea02b5ecc20ba5d1188997013c3029dc0...,0,0,5,대한민국,제주특별자치도,남성,60,거주,고정형,2020,4
2,20200401,0f3f81c33b8279e80257a2140dc23512e8501a5ed68379...,ffd8e6745aa3157fb971fdf3d13c4205bee4aa0f5a877e...,0,0,20,중국,NaN,여성,20,관광,고정형,2020,4

#### 2.2. 2021년 와이파이 접속 데이터

In [3]:
ap21 = pd.read_csv('2021.csv')
ap21 = ap21[ap21['ap_type']!='이동형']
ap21.head(3)

C:\Users\CPB06GameN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,base_date,user_id,mac_address,upload,download,session_time,nationality,province,gender,age,visit_type,ap_type,ap_category,ap_place,ap_place_detail,ap_latitude,ap_longitude,ap_address_detail,pt_year,pt_month
1,20210401,d5ac5703133e9131c93b5033df85b3ab02fff9e93db95a...,e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b93...,4442,11974,3,대한민국,NaN,남성,40,거주,알수없음,NaN,NaN,NaN,NaN,NaN,NaN,2021,4
2,20210401,d5ac5703133e9131c93b5033df85b3ab02fff9e93db95a...,e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b93...,23654,44620,280,대한민국,NaN,남성,40,거주,알수없음,NaN,NaN,NaN,NaN,NaN,NaN,2021,4
3,20210401,e761f66cca15d9cbe277c54600ba7aa1970eea13457e1a...,e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b93...,95827,355731,426,대한민국,NaN,남성,20,관광,알수없음,NaN,NaN,NaN,NaN,NaN,NaN,2021,4

#### 2.3. 고정형 AP 18,19,20년 데이터

In [6]:
fixed1819 = pd.read_csv('fixed 1819.csv')
fixed20 = pd.read_csv('fixed 2020.csv')

In [7]:
fixed1819.head(3)

,base_date,mac_address,ap_install_place,install_location_detail,open_date,category,address_dong,address_detail,latitude,longitude,pt_year,pt_month
0,20180425,642302fd765e18121ad42a39f8d67f4ce5eecc17483506...,Yongyeon_B,-,NaN,-,- -,-,-,-,2018,4
1,20180425,def22302bc33e0a0906aefe20e52ca7ce5091d3e1be554...,SeosaraRoad_#2_NO46_B,-,NaN,-,- -,-,-,-,2018,4
2,20180425,788c15fe96dfd109c59be72bb263bfc9f4e93a8b6cbe49...,올인하우스,건물외벽 북,NaN,사설관광지,서귀포시 성산읍,서귀포시 성산읍 고성리 57,33.425779,126.931337,2018,4

In [8]:
fixed20.head(3)

,base_date,manage_no,mac_address,ap_group_name,install_location_detail,open_date,category,category_detail,address_dong,address_detail,latitude,longitude,pt_year,pt_month
0,20200215,19-B0464,e3c2cffbac41cfd95b7acbec852d00aecfbdf7d5c059f0...,서귀포야구장,실내야구연습장,20191128,체육시설,체육시설,제주특별자치도 서귀포시 강정동,서귀포시 강정동 1552-3,33.260778,126.504462,2020,2
1,20200215,17-B0018,be5e5536d23a48a055c2f97b043e466a15340437476d7d...,엉또폭포,화장실 남,20170814,관광지,공영관광지,제주특별자치도 서귀포시 강정동,서귀포시 염돈로 121-6,33.265064,126.490320,2020,2
2,20200215,17-B0068,7807f89920f8154e7731f999c58fbc1124e2da3cd48286...,버스정류소_표선환승정류장(표선리사무소)[동],버스정류장 상부,20170827,버스정류소,버스정류소,제주특별자치도 서귀포시 표선면 표선리,서귀포시 표선면 표선리 631-1,33.325341,126.832510,2020,2

### 3. 결측치 확인 및 처리

In [9]:
ap20.isna().sum()

base_date              0
user_id                0
mac_address            0
upload                 0
download               0
session_time           0
nationality            6
province        23526803
gender                 0
age                    0
visit_type        745585
ap_type                0
pt_year                0
pt_month               0
dtype: int64

In [10]:
ap21.isna().sum()

base_date              0
user_id                0
mac_address            0
upload                 0
download               0
session_time           0
nationality            6
province        23526803
gender                 0
age                    0
visit_type        745585
ap_type                0
pt_year                0
pt_month               0
dtype: int64

In [11]:
fixed1819.isna().sum()

base_date                     0
mac_address                   0
ap_install_place              0
install_location_detail       0
open_date                  2341
category                     32
address_dong                  0
address_detail                0
latitude                      0
longitude                     0
pt_year                       0
pt_month                      0
dtype: int64

In [12]:
fixed20.isna().sum()

base_date                   0
manage_no                   0
mac_address                 0
ap_group_name               0
install_location_detail     2
open_date                   0
category                    0
category_detail            22
address_dong                4
address_detail              0
latitude                    0
longitude                   0
pt_year                     0
pt_month                    0
dtype: int64

총 35,321,598개 중 23,526,803개의 결측치를 갖는 **province** 열 삭제

In [13]:
ap20 = ap20.drop(['province'], axis=1)
ap21 = ap21.drop(['province'], axis=1)

총 35,321,598개 중 5,131,162개 **ap21** 데이터프레임 결측치 대체 > ("알 수 없음")

In [4]:
list = ['ap_category', 'ap_place', 'ap_place_detail', 'ap_latitude', 'ap_longitude', 'ap_address_detail']
for i in list:
    ap21[i].fillna('알 수 없음', inplace=True)

### 3. 동일 mac_address로부터 주소지 정보를 2020년 데이터에 매핑

### 4. 제주 동부 지역별( +서귀포 성산읍) 데이터프레임화

In [ ]:
# # 우도면 
# Udo_20 = ap20[ap20['ap_address_detail'].str.contains('우도', na=False)]
# # 조천읍
# Jocheon_20 = ap20[ap20['ap_address_detail'].str.contains('우도', na=False)]
# # 구좌읍
# Gujwa_20 = ap20[ap20['ap_address_detail'].str.contains('우도', na=False)]
# # 서귀포 성산읍
# Seongsan_20 = ap20[ap20['ap_address_detail'].str.contains('우도', na=False)]
# # 구제주
# Gujeju_20 = ap20[ap20['ap_address_detail'].str.contains('우도', na=False)]

In [8]:
# 우도면 
Udo_21 = ap21[ap21['ap_address_detail'].str.contains('우도', na=False)]
# 조천읍
Jocheon_21 = ap21[ap21['ap_address_detail'].str.contains('조천', na=False)]
# 구좌읍
Gujwa_21 = ap21[ap21['ap_address_detail'].str.contains('구좌', na=False)]
# 서귀포 성산읍
Seongsan_21 = ap21[ap21['ap_address_detail'].str.contains('성산', na=False)]
# 구제주
Gujeju_21 = ap21[ap21['ap_address_detail'].str.contains('일도|이도|삼도|용담|건입|도두|화북|삼양|아라|봉개', na=False)]

>> 2021. 5,6,7,8 분석으로 우회